body
{
	background-color: black;
	color: red;
}

.divMain
{
	background-color: #ffcc99;
	color: black;
	width: 85%;
	height: 85%;
	border-radius: 0 0 10px 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.divHeader
{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}

.divFooter
{
	background: rgba(0, 0, 0, 0.75);
	color: red;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}