body
{
	background-color: black;
	color: red;
}

.divMain
{
	background-color: #ffcc99;
	color: black;
	width: 85%;
	height: 85%;
}

.divFooter
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}